name: Deploy to Cocoapods

on:
  push:
    branches:
      - prod
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to Cocoapods # https://cocoapods.org/pods/KhipuClientIOS
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync version
        run: |
          ./sync_version.sh
          git add .
          git commit -am "Version sync with podfile"
          git push origin

      - name: Sync to master branch
        run: |
          git remote add originmaster git@github.com:khipu/KhipuClientIOS.git
          git fetch originmaster
          git checkout --track originmaster/master
          git merge --no-ff prod -m "Sync from prod [skip ci]"
          git push originmaster master
          git checkout prod

      - name: Install Cocoapods
        run: pod install --project-directory=Example

      - name: Create and Push Tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -eo pipefail
          VERSION=$(grep -oE "s.version.*= *'[^']*'" *.podspec | grep -oE "'[^']*'" | tr -d "'")
          echo "Detected version: $VERSION"
          git tag $VERSION
          git push origin $VERSION

      - name: Deploy to Cocoapods
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: |
          set -eo pipefail
          pod lib lint --allow-warnings
          pod trunk push --allow-warnings
